.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #D3D4C4;
}

.tab-pane .tab
{
    -fx-background-color: #ffffff;
}

.tab-pane
{
    -fx-tab-min-width: 90px;
}

.tab-pane .tab:selected
{
    -fx-background-color: #87b763;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #ffffff;
}

.gridPaneList {
	-fx-alignment: center;
	-fx-padding: 0 0 10 0;
}

.paneList {
	-fx-background-color: #E1F5C4;
}

.labelList {
	-fx-padding:5 5 5 5;
}

.labelTitle {
	-fx-font: bold 16px "Segoe UI";
	-fx-text-fill: #666666;
	-fx-padding:0 0 10 0;
}